subject = "{{ 'jumplink.vouchers::lang.mail.fulfillment_subject'|trans({ code: voucher.code, value: voucher.initial_value_euro, zip: order.zip, city: order.city }) }}"
==

{{ 'jumplink.vouchers::lang.mail.greeting_plain'|trans }}

{{ 'jumplink.vouchers::lang.mail.fulfillment_intro'|trans }}

- **{{ 'jumplink.vouchers::lang.mail.label_code'|trans }}** {{ voucher.code }}
- **{{ 'jumplink.vouchers::lang.mail.label_value'|trans }}** {{ voucher.initial_value_euro }}
{% if order.recipient_name %}- **{{ 'jumplink.vouchers::lang.mail.label_recipient'|trans }}** {{ safe.recipient_name }}
{% endif %}

**{{ 'jumplink.vouchers::lang.mail.label_address'|trans }}**<br>
{{ safe.firstname }} {{ safe.lastname }}<br>
{{ safe.street }}<br>
{{ safe.zip }} {{ safe.city }}

{% if order.message %}**{{ 'jumplink.vouchers::lang.mail.label_message'|trans }}**<br>
{{ safe.message }}
{% endif %}
