subject = "{% if voucher %}{{ 'jumplink.vouchers::lang.mail.confirmation_subject'|trans({ code: voucher.code, value: voucher.initial_value_euro }) }}{% else %}{{ 'jumplink.vouchers::lang.mail.confirmation_subject_plain'|trans({ brand: brand_name ?: 'jumplink.vouchers::lang.mail.brand_fallback'|trans }) }}{% endif %}"
==

{{ 'jumplink.vouchers::lang.mail.greeting'|trans({ name: order.firstname }) }}

{{ 'jumplink.vouchers::lang.mail.confirmation_thanks'|trans({ brand: brand_name ?: 'jumplink.vouchers::lang.mail.brand_fallback'|trans }) }}

{% if voucher %}
- **{{ 'jumplink.vouchers::lang.mail.label_code'|trans }}** {{ voucher.code }}
- **{{ 'jumplink.vouchers::lang.mail.label_value'|trans }}** {{ voucher.initial_value_euro }}
{% if voucher.valid_until %}- **{{ 'jumplink.vouchers::lang.mail.label_valid_until'|trans }}** {{ voucher.valid_until|date('d.m.Y') }}{% endif %}
{% endif %}

{% if order.delivery_type == 'digital' %}
{{ 'jumplink.vouchers::lang.mail.confirmation_digital'|trans }}
{% if download_url %}
[**{{ 'jumplink.vouchers::lang.mail.download_image'|trans }}**]({{ download_url }})
{% endif %}
{% else %}
{{ 'jumplink.vouchers::lang.mail.confirmation_physical'|trans }}
{% endif %}

{{ 'jumplink.vouchers::lang.mail.regards'|trans }}
{% if brand_name %}{{ 'jumplink.vouchers::lang.mail.team_with_brand'|trans({ brand: brand_name }) }}{% else %}{{ 'jumplink.vouchers::lang.mail.team'|trans }}{% endif %}
