subject = "{{ 'jumplink.vouchers::lang.mail.shipping_subject'|trans }}"
==

{{ 'jumplink.vouchers::lang.mail.greeting'|trans({ name: order.firstname }) }}

{% if brand_name %}{{ 'jumplink.vouchers::lang.mail.shipping_body_brand'|trans({ brand: brand_name }) }}{% else %}{{ 'jumplink.vouchers::lang.mail.shipping_body'|trans }}{% endif %}

{{ order.firstname }} {{ order.lastname }}<br>
{{ order.street }}<br>
{{ order.zip }} {{ order.city }}

{{ 'jumplink.vouchers::lang.mail.regards'|trans }}
{% if brand_name %}{{ 'jumplink.vouchers::lang.mail.team_with_brand'|trans({ brand: brand_name }) }}{% else %}{{ 'jumplink.vouchers::lang.mail.team'|trans }}{% endif %}
