{% if voucher %}
    <div class="pos-sold">
        <p>{{ 'jumplink.vouchers::lang.pos.sold_created'|trans({ code: '<strong>' ~ voucher.code ~ '</strong>', value: voucher.initial_value_euro })|raw }}</p>
        {% if voucher.type == 'physical' %}
            <p>{{ 'jumplink.vouchers::lang.pos.sold_write_number'|trans({ number: '<strong>' ~ voucher.number ~ '</strong>' })|raw }}</p>
        {% else %}
            <p>{{ 'jumplink.vouchers::lang.pos.sold_emailed'|trans }}</p>
        {% endif %}
    </div>
{% endif %}
